<form method="dialog">
    <div class="chat-name">
    {{{chatNameInput}}}
    </div>
    {{{userSearch}}}
    <div class="button-container">
        {{{okButton}}}
        {{{cancelButton}}}
    </div>
</form>
