#auth
{
    width: 400px;
    margin: auto;
}

.chat-pic 
{
    width: 247px;
    height: 247px;
    margin-left: 30%;
}

.auth-row button
{
    width: 170px;
}

.auth-row 
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 25px;
}
