
        <div id="auth">
    <form>
            <img src="{{chatPic}}" class="chatPic"></img>
            <div class="auth_row">
                <label class="auth_login_label">Login</label>
                <input class="auth_login_input" type="text"/>
            </div>
            <div class="auth_row">
                <label class="auth_password_label">Password</label>
                <input class="auth_password_input" type="password"/>
            </div>
            <div class="auth_row">
                <a class="button">Sign in</a>
                <a class="button">Sign up</a>
            </div>
      
    </form>
      </div>