@import '../../consts.less';

label
{
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-top: 10px;
    font-family: @font_family;
}
input, textarea
{
    background-color: @input_color;
    margin-top: 10px;
    margin-bottom: 5px;  
    border-radius: 10px;
    padding-left: 10px;
    min-height: 26px;
}
input[type="password"]
{
    width: 170px;
}
