@import url('../../consts.less');

@chatFeedWidth: 200px;

.chats
{
    width: @chatFeedWidth;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    overflow: auto;
}

.chat-item 
{
    label 
    {
        font-weight: bold;
        text-align: left;
 
    }

    flex: 0 1 auto;
}

.chat-item:hover
{
    background-color: @button_color;
    color: #000;
}

.add-chat-button
{
    button {
        border-radius: 50%;
        width: 30px;
        height: 30px;
    }

    button:hover {        
        width: 40px;
        height: 40px;        
    }
}

dialog {
    width: 400px;
}
