@import '../../consts.less';

.chats
{
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex-wrap: nowrap;
}
.chatItem 
{
    label 
    {
        font-weight: bold;
        text-align: left;
 
    }
    flex: 0 1 auto;
}
.chatItem:hover
{
    background-color: @button_color;
    color: #000;

}
