{{{chatFeed}}}
<div class="content">
    {{{header}}}
    {{{history}}}
    <div class="new-message">
        <textarea type="text" name="message"></textarea>
        {{{sendButton}}}
    </div>
</div>
