{{{chatFeed}}}
<div class="content">
    {{{history}}}
    <div class="newMessage">
        <textarea type="text" name="message"></textarea>
        <a class="button sendMessage">
            <img src="{{send}}"></svg>
        </a>
    </div>
</div>
