.user-pic 
{
    display: flex;
    justify-content: center;

    img {
        width: 100px;
        height: 100px;
    }

    :hover 
    {
        cursor: pointer;
    }
}

.button-container 
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

form, h2
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.profile-container
{
   width: 30%;
   margin: auto;
   display:flex;
   justify-content: center;
   flex-direction: column;
}

dialog[open]
{
    display: flex;
}
