<form method="dialog">
    <div class="users">
        {{#each userComponents}}
        {{{this}}}
        {{/each}}
    </div>
    <div class="button-container">
        {{{okButton}}}
        {{{cancelButton}}}
    </div>

</form>
