@import 'consts';
#app
{
    display: flex;
    height: 100%;
}
body, html, main
{
    height: 100%;
}
body
{
    background-color: @background_color;
}

.div_center
{
    width: 26%;
    margin: auto;
}

.div_center h2
{
    text-align: center;
}
