@import url('consts');

#app
{
    display: flex;
    height: 100%;
}

body, html, main
{
    height: 100%;
}

body
{
    background-color: @background_color;
}

.div-center
{
    width: 26%;
    margin: auto;
}

.div-center h2
{
    text-align: center;
}

label
{
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-top: 10px;
    font-family: @font_family;
}

.button-container 
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
