body
{
    background-color: #fbe0e8;
}

.div_center
{
    width: 26%;
    margin: auto;
}

.div_center h2
{
    text-align: center;
}

label
{
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-top: 10px;
    font-family:'Tahoma'
}

input[type="text"]
{
    background-color: #f4e7e7;
    margin-top: 10px;
    margin-bottom: 5px;  
    border-radius: 10px;
    height: 25px;
    width: 170px;
}
input[type="password"]
{
    background-color: #f4e7e7;
    margin-top: 10px;
    margin-bottom: 5px;    
    border-radius: 10px;
    height: 25px; 
    width: 170px;
}
button
{
    background-color: #B87FDB;
    color: white;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-family:'Tahoma';
    text-align: center;
    border: none;    
    height: 40px;
}
button[type="submit"]
{
    border-color: #630A99;
    border-width: 10px;
}

