@import url('../../consts.less');

.error-container 
{
    align-items: center;
}

.error-container h1 
{
    font-size: 56px;
    font-family: @font_family;
    text-align: center;
}

.error-container h3
{
    font-size: large;
    font-family: @font_family;    
    text-align: center;
}

.error-container a
{
    align-self:center;
    font-family: @font_family;    
    text-align: center;
}
